@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #22242b;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333640;
  }
}

.frosted-panel {
  background: #141519;
  border: 1px solid #22242b;
}

.canvas-grid {
  background-color: #0b0c0e;
  background-image: radial-gradient(#22242b 1px, transparent 1px);
}
